.heading {
    position: relative;
    height: 30vh;
    background: #baa;
    align-content: center;
}

.name-title {
    font-family: "Lucida Console", Monaco, monospace;
    position: absolute;
    font-size: 7vh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.contact {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1vh;
    top:90%;
    left:50%;
    transform: translate(-50%, -90%);
    position: absolute

}

.main {
    position: relative;
    height: 70vh;
    background: rgb(195, 212, 212);
}

.frame {
    position: absolute;
    top:30%;
    left: 35%;
    transform: translate(-35%, -30%);
}

.description {
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    position: absolute;
    top: 30%;
    left: 72%;
    transform: translate(-72%, -30%);
}

.icons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 70%);
}

.fa {
    padding: 3vh;
    font-size: 6vh;
    width: 10vh;
    color: black;
  }
